<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735953683288-jrtggu2bk4g6u31s3pk2ceuj7dhmqrfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735953683288-jrtggu2bk4g6u31s3pk2ceuj7dhmqrfs</string>
	<key>API_KEY</key>
	<string>AIzaSyDKsDzxqUX-pBwbS7WzGsV_5HtoFhXWfEE</string>
	<key>GCM_SENDER_ID</key>
	<string>735953683288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.bibliotheka</string>
	<key>PROJECT_ID</key>
	<string>biblio-2fcd9</string>
	<key>STORAGE_BUCKET</key>
	<string>biblio-2fcd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735953683288:ios:1cc341355fe8cc5f681b2d</string>
</dict>
</plist>